
/////////////////////// need this to work
{%for entity, entity_data in DATA.items %} 
			{%include "isubscribe/entity_view_template.html" %}
{%endfor%}
/////////////////////// need this to work


{% load staticfiles %} 
<tr>
	
	<td>
		{{entity}}				
	</td>
	
	<td>
		<a class="url fn" href="" id="toggle_w_{{ forloop.counter0 }}">
		{% if '1' in entity_data.user_rules and entity_data.user_rules.1 %}
		  <img src="{% static "isubscribe/images/warning-enabled-flag.jpg" %}" alt="warning-flag" id="toggle-img_w_{{ forloop.counter0 }}" status="1">
		{% else %}
		  <img src="{% static "isubscribe/images/warning-disabled-flag.jpg" %}" alt="warning-flag" id="toggle-img_w_{{ forloop.counter0 }}" status="0">
		{% endif %}
		</a>
		
		
		<script>
	  		$('#toggle_w_{{ forloop.counter0 }}').click(function(){
	  			var request = $.ajax({
					url: "{% url "subscribe_toggle" %}",
				  	type: "POST",
				  	data: {entity : "{{entity}}", status : "1"},
				  	dataType: "json"
				});
				
				request.done(function(msg) {
				  	//alert(msg);
				  	var status = $('#toggle-img_w_{{ forloop.counter0 }}').attr("status");
			    	if (status == 0){
			    		$('#toggle-img_w_{{ forloop.counter0 }}').attr("status", "1");
			    		$('#toggle-img_w_{{ forloop.counter0 }}').attr("src", "{% static "isubscribe/images/warning-enabled-flag.jpg" %}");
			    	}
			    	if (status == 1){
			    		$('#toggle-img_w_{{ forloop.counter0 }}').attr("status", "0");
			    		$('#toggle-img_w_{{ forloop.counter0 }}').attr("src", "{% static "isubscribe/images/warning-disabled-flag.jpg" %}");
			    	}
				});
				
				request.fail(function(jqXHR, textStatus) {
				  	alert( "Request failed: " + textStatus );
				});
	  			
		    	return false;
			});
		</script>
	</td>
	
	<td>
		<a class="url fn" href="" id="toggle_c_{{ forloop.counter0 }}">
		{% if '2' in entity_data.user_rules and entity_data.user_rules.2 %}
		  <img src="{% static "isubscribe/images/critical-enabled-flag.jpg" %}" alt="critical-flag" id="toggle-img_c_{{ forloop.counter0 }}" status="1">
		{% else %}
		  <img src="{% static "isubscribe/images/critical-disabled-flag.jpg" %}" alt="critical-flag" id="toggle-img_c_{{ forloop.counter0 }}" status="0">
		{% endif %}
		</s>
		
		<script>
	  		$('#toggle_c_{{ forloop.counter0 }}').click(function(){
	  			var request = $.ajax({
					url: "{% url "subscribe_toggle" %}",
				  	type: "POST",
				  	data: {entity : "{{entity}}", status : "2"},
				  	dataType: "json"
				});
				
				request.done(function(msg) {
				  	//alert(msg);
				  	var status = $('#toggle-img_c_{{ forloop.counter0 }}').attr("status");
			    	if (status == 0){
			    		$('#toggle-img_c_{{ forloop.counter0 }}').attr("status", "1");
			    		$('#toggle-img_c_{{ forloop.counter0 }}').attr("src", "{% static "isubscribe/images/critical-enabled-flag.jpg" %}");
			    	}
			    	if (status == 1){
			    		$('#toggle-img_c_{{ forloop.counter0 }}').attr("status", "0");
			    		$('#toggle-img_c_{{ forloop.counter0 }}').attr("src", "{% static "isubscribe/images/critical-disabled-flag.jpg" %}");
			    	}
				});
				
				request.fail(function(jqXHR, textStatus) {
				  	alert( "Request failed: " + textStatus );
				});
	  			
		    	return false;
			});
		</script>
	</td>
	
</tr>     