{% extends "isubscribe/base.html" %}{% load staticfiles %}
{% block headstyles %}{% endblock %}
{% block headscripts %} {% endblock %}

{% block head %}

<script>
 	$(document).ready( function(){
    	$('#posts-list').fadeIn(250);
    	$('#entity-filter').focus();
	} );
</script>

<script>

$(function() {
    // When we're using HTTPS, use WSS too.
    var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
    var msgsock = new ReconnectingWebSocket(ws_scheme + '://' + window.location.host + window.location.pathname, null, {debug: false, reconnectInterval: 5000, maxReconnectAttempts: 10});
    
    var loading_counter = 0;
    var msgbox = $("#msgbox");
    
    msgsock.onopen = function(){
      	console.log('connected!');
      	$('#blocker').hide();
    };
    
    msgsock.onmessage = function(message) {
        var data = JSON.parse(message.data);
        
        if (data.ready_signal){			
			$('#loading_counter').text('Entities ' + loading_counter);
			return false; 
		}
        
        if (data.flush_signal){
        	msgbox.html('');
        	loading_counter = 0;			
			$('#loading_counter').text('Entities ' + loading_counter);
			return false; 
		}
        
        loading_counter++;
        
        var entity = data.entity
        entity_id = entity.replace(/:\s*/g, "_");
        entity_id = entity_id.replace(/\./g, "_");
                
        //var ele = $('<tr id="' + entity_id + '" style="display: none;" class="entities-item"></tr>');
        var ele = $('<tr id="' + entity_id + '" class="entities-item"></tr>');
                
        if (data.status_1){
			status_1_img = '{% static "isubscribe/images/warning-enabled-flag.jpg" %}';
			status_1_status = 1;  
		} else {
			status_1_img = '{% static "isubscribe/images/warning-disabled-flag.jpg" %}';
			status_1_status = 0; 
		}
		
		if (data.status_2){
			status_2_img = '{% static "isubscribe/images/critical-enabled-flag.jpg" %}';
			status_2_status = 1; 
		} else {
			status_2_img = '{% static "isubscribe/images/critical-disabled-flag.jpg" %}';
			status_2_status = 0; 
		}
		
	
		var warn_img = $('<img id="toggle-img_w_' + entity_id + '">');
		warn_img.attr('src', status_1_img);
		warn_img.attr('data-status', status_1_status);
						
		var crit_img = $('<img id="toggle-img_c_' + entity_id + '">');
		crit_img.attr('src', status_2_img);
		crit_img.attr('data-status', status_2_status);
						
	
        ele.append(
            $("<td></td>").text(data.entity)
        );
        
        ele.append(
        	$("<td></td>").append(
				$('<a>',{
				    href: '',
				    click: function(){
						var request = $.ajax({
							url: "{% url "subscribe_toggle" %}",
						  	type: "POST",
						  	data: {entity : entity, status : "1"},
						  	dataType: "json"
						});
						
						request.done(function(msg) {
						  	var status = warn_img.attr("data-status");
					    	if (status == 0){
					    		warn_img.attr("data-status", "1");
					    		warn_img.attr("src", "{% static "isubscribe/images/warning-enabled-flag.jpg" %}");
					    	}
					    	if (status == 1){
					    		warn_img.attr("data-status", "0");
					    		warn_img.attr("src", "{% static "isubscribe/images/warning-disabled-flag.jpg" %}");
					    	}
						});
						
						request.fail(function(jqXHR, textStatus) {
						  	alert( "Request failed: " + textStatus );
						});
			  			
				    	return false; 
				    }
				}).append(warn_img)
			)
        );
        
        
        ele.append(
        	$("<td></td>").append(
				$('<a>',{
				    href: '',
				    click: function(){
						var request = $.ajax({
							url: "{% url "subscribe_toggle" %}",
						  	type: "POST",
						  	data: {entity : entity, status : "2"},
						  	dataType: "json"
						});
						
						request.done(function(msg) {
						  	var status = crit_img.attr("data-status");
					    	if (status == 0){
					    		crit_img.attr("data-status", "1");
					    		crit_img.attr("src", "{% static "isubscribe/images/critical-enabled-flag.jpg" %}");
					    	}
					    	if (status == 1){
					    		crit_img.attr("data-status", "0");
					    		crit_img.attr("src", "{% static "isubscribe/images/critical-disabled-flag.jpg" %}");
					    	}
						});
						
						request.fail(function(jqXHR, textStatus) {
						  	alert( "Request failed: " + textStatus );
						});
			  			
				    	return false; 
				    }
				}).append(crit_img)
			)
        );
         
         
        var silent_img = $('<img id="toggle-silent-img_' + entity_id + '">');
             
        if (data.silent){
        	silent_img.attr('src', '{% static "isubscribe/images/silenced-enabled.gif" %}');
        	silent_img.attr('data-silent', true);   	        

        } else {
        	silent_img.attr('src', '{% static "isubscribe/images/silenced-disabled.gif" %}');
        	silent_img.attr('data-silent', false);      				
        }               
        
        silent = $('<a>',{
		    href: '',
		    
		    click: function(){
				
				if (silent_img.attr('data-silent') == 'true'){
					my_comment = 'no comment';	   						
				} else {
					var my_comment = prompt("Please enter your comment");
   						
					if (my_comment == null){   							
						return;
					}
					if (my_comment.length == 0){
						my_comment = 'no comment';
					}
				}
				
				var request = $.ajax({
					url: "{% url "silent_toggle" %}",
				  	type: "POST",
				  	data: {entity : entity, status: 0, silent_comment: my_comment},
				  	dataType: "json"
				});
				
				request.done(function(msg) {
					if (msg.result == 'okay'){						
						silent = msg.silent;
						if (silent){
							silent_img.attr("data-silent", true);
				  			silent_img.attr('src', '{% static "isubscribe/images/silenced-enabled.gif" %}');				  			
				  		} else {
				  			silent_img.attr("data-silent", false);				  			
				  			silent_img.attr('src', '{% static "isubscribe/images/silenced-disabled.gif" %}');				  			
				  		}
				  	}						  	
				});
				
				request.fail(function(jqXHR, textStatus) {
				  	alert( "Request failed: " + textStatus );
				});
				
				return false;
		    }
		}).append(silent_img);
        
        ele.append(
            $("<td></td>").html(silent)
        );
        
        history_link = $('<a>',{
        	id: 'history_link_' + entity_id,
		    href: '',
		    
		    click: function(){								
				historyBox(entity, data.silent);
				return false;
		    }
		    
		}).append('<img src="{% static "isubscribe/images/history.gif" %}">');
          
        ele.append(
            $("<td></td>").html(history_link)
        );
        
        config_link = $('<a>',{
        	id: 'config_link_' + entity_id,
		    href: '',
		    
		    click: function(){								
				configBox(entity, data.silent);
				return false;
		    }
		    
		}).append('<img src="{% static "isubscribe/images/config.png" %}">');
          
        ele.append(
            $("<td></td>").html(config_link)
        );
              
        
        $('#' + entity_id).remove();
        msgbox.prepend(ele);
        
        $('#loading_counter').text('Loading ' + loading_counter);
        	
	    
    };
    
    msgsock.onclose = function(){
      	console.log('disconnected!');
      	$('#blocker').show();
    };
    
});

</script>

<script type="text/javascript">
	function historyBox(entity, silent){		
		$('#modalTitle').html(entity);
        $('#modalBody').html('');
        $('#modalButtonSilent').attr('data-entity', entity);        
        $('#modalButtonResolve').attr('data-entity', entity);
        $('#modalButtonHistory').attr('data-entity', entity);
        $('#modalButtonSilent').attr('data-status', status);
        $('#modalButtonSilent').attr('data-silent', silent);
        $('#modalHeader').switchClass('modal-header modal-warning modal-critical modal-unknown', 'modal-header', queue=false);
        
        var request = $.ajax({
			url: "{% url "entity_history" %}",
		  	type: "POST",
		  	data: {entity : entity},
		  	dataType: "json"
		});
		
		request.done(function(data) {
			if (data.length == 0) {
				$('#modalBody').append('<li>no history data</li>');
				return;
			} else {
				$('#modalBody').html('');
			}
			for (var i = 0; i < data.length; i++) {
				if (data[i].status == 0){
					status_img = '<img src="{% static "isubscribe/images/okay-enabled-flag.png" %}">';
					status_description = 'Okay'; 
				} else if (data[i].status == 1){
					status_img = '<img src="{% static "isubscribe/images/warning-enabled-flag.jpg" %}">';
					status_description = 'Warning'; 
				} else if (data[i].status == 2){
					status_img = '<img src="{% static "isubscribe/images/critical-enabled-flag.jpg" %}">';
					status_description = 'Critical'; 
				} else {
					status_img = '<img src="{% static "isubscribe/images/unknown.gif" %}">';
					status_description = 'Unknown';
				}							
				history_entry = '<li>' + ts_localize(data[i].timestamp) + ' ' + status_img + ' ' + data[i].output + '</li>' 
				$('#modalBody').append(history_entry); 
			}						
		  	return false;
		});
		
		request.fail(function(jqXHR, textStatus) {
		  	alert( "Request failed: " + textStatus );
		});
         
        $('#msbBoxModal').modal();
        $('#msbBoxModal').draggable({
            handle: ".modal-header"
        });
        
        return;
    }
</script>


<script type="text/javascript">
	function configBox(entity, silent){		
		$('#modalTitle').html(entity);
        $('#modalBody').html('');
        $('#modalButtonSilent').attr('data-entity', entity);        
        $('#modalButtonResolve').attr('data-entity', entity);
        $('#modalButtonHistory').attr('data-entity', entity);
        $('#modalButtonSilent').attr('data-status', status);
        $('#modalButtonSilent').attr('data-silent', silent);
        $('#modalHeader').switchClass('modal-header modal-warning modal-critical modal-unknown', 'modal-header', queue=false);        
        
        var request = $.ajax({
			url: "{% url "check_config" %}",
		  	type: "POST",
		  	data: {entity : entity},
		  	dataType: "json"
		});
		
		request.done(function(data) {
			if (data == null) {
				$('#modalBody').append('<li>no config data</li>');
				return;
			} else {
				$('#modalBody').html('');
			}
			config_data = '<pre><code>' + JSON.stringify(data, null, ' ') + '</code></pre>'
			$('#modalBody').html(''); 
			$('#modalBody').append(config_data); 
									
		  	return false;
		});
		
		request.fail(function(jqXHR, textStatus) {
		  	alert( "Request failed: " + textStatus );
		});
         
        $('#msbBoxModal').modal();
        $('#msbBoxModal').draggable({
            handle: ".modal-header"
        });
        
        return;
    }
</script>

{% endblock %} 


{% block nav %}
	<li><a href="{% url 'events' %}">events</a></li>
    <li class="active"><a href="#">iSubscribe</a></li>   
    <li><a href="{% url 'clients' %}">clients</a></li> 
    <li><a href="{% url 'subscriptions' %}">subscriptions</a></li>
    <li><a href="{% url 'onduty' %}">on-duty</a></li>
{% endblock %}



{% block content %}
{% autoescape off %}



<div id="blocker">
       <div>Connecting...</div>
</div>


{%include "isubscribe/msgbox_modal.html" %}


<section id="content" class="body">
 
  <ol id="posts-list" class="hfeed" style="display:none">
  
   
	<li><article class="hentry"> 
	
	  <header>
	  	<form method="get">
	    	<h2 class="entry-title">		  	
				<input id="entity-filter" type="text" name="entity-filter">		           
			</h2>
		</form>
		<h1 id="loading_counter">Entities: 0</h1>
	  </header>
	
	<script>
	
		var timeout;
		
		$("#entity-filter").on("keydown", function(e) {
			if (e.keyCode === 10 || e.keyCode === 13){
        		e.preventDefault();
        	}
		});
	
	
		$("#entity-filter").on("keyup", function(e) {
			e.preventDefault();
			if (e.keyCode === 10 || e.keyCode === 13 || e.keyCode === 37 || e.keyCode === 39){
        		return true;
        	}
		    var value = $(this).val().toLowerCase();
		    var loading_counter = 0;
		    filter_mysubscribe = $('#mysubscribe').attr("data-enabled");
	        filter_silent = $('#silent').attr("data-enabled");
	        
	        if (value.length > 3) {
	        
	        	if(timeout){ clearTimeout(timeout);}
	        	
	        	timeout = setTimeout(function() {
					var request = $.ajax({
						url: "{% url "entities" %}",
					  	type: "POST",
					  	data: {search : value, csrfmiddlewaretoken: '{{ csrf_token }}' },
					  	dataType: "json"
					});
					
					request.done(function(data) {											
					  	return false;
					});
					
					request.fail(function(jqXHR, textStatus) {
					  	alert( "Request failed: " + textStatus );
					});
				},500);	        		        					
	        } else {
	        	return false;
	        }
	       	return false;
		});
	</script>
		  
	  <footer class="post-info">
        <abbr class="published" title="one filter applied at a time">
          Filters:
        </abbr>
 
        <address class="vcard author">
        
          <a class="url fn" href="" id="reset" data-enabled="0">All</a>
          <script>
          	$('#reset').click(function(e){
          		e.preventDefault();
          		loading_counter = 0;
          		
				if ($(this).attr("data-enabled") == "0") {          			
          			$('#silent').attr("data-enabled", "0");
          			$('#mysubscribe').attr("data-enabled", "0");
          			$(this).attr("data-enabled", "1");
          		}			    			    			    

			    $("#msgbox").find("tr").each(function(index) {
		            loading_counter++;	            	
			    });

				$('#loading_counter').text('All ' + loading_counter);
			    $('.entities-item').show();
			    
			    return false;
			});
		  </script>

          <a class="url fn" href="#" id="silent" data-enabled="0">Silenced</a>
          <script>
          	$('#silent').click(function(e){
          		e.preventDefault();
          		var loading_counter = 0;
          		if ($(this).attr("data-enabled") == "1") {
          			$(this).attr("data-enabled", "0");
          		} else if ($(this).attr("data-enabled") == "0") {
          			$(this).attr("data-enabled", "1");
          			$('#reset').attr("data-enabled", "0");
          		}
			    $("#msgbox").find("tr").each(function(index) {
		            $row = $(this);	
		            var silent_td = $row.find("td:nth-child(4) img");		            
		            silent_status = silent_td.attr("data-silent");    
					
		            if (silent_status == 'true') {
		            	loading_counter++;
	            		$('#loading_counter').text('Silenced ' + loading_counter);
		                $(this).show();
		            }
		            else {
		                $(this).hide();
		            }           
			    });
			    
			    $('#loading_counter').text('Silenced ' + loading_counter);
			    
			    return false;
			});
		  </script>

          <a class="url fn" href="#" id="mysubscribe" data-enabled="0">mySubscribe</a>
          <script>
          	$('#mysubscribe').click(function(e){
          		e.preventDefault();
          		var loading_counter = 0;
          		if ($(this).attr("data-enabled") == "1") {
          			$(this).attr("data-enabled", "0");
          		} else if ($(this).attr("data-enabled") == "0") {
          			$(this).attr("data-enabled", "1");
          			$('#reset').attr("data-enabled", "0");
          		}
			    $("#msgbox").find("tr").each(function(index) {
		            $row = $(this);	
		            var warning_td = $row.find("td:nth-child(2) img");		            
		            warning_status = warning_td.attr("data-status");    		            
		            var critical_td = $row.find("td:nth-child(3) img");		            
		            critical_status = critical_td.attr("data-status");
					
		            if (warning_status == '1' || critical_status == '1') {
		            	loading_counter++;
	            		$('#loading_counter').text('mySubscribe ' + loading_counter);
		                $(this).show();
		            }
		            else {
		                $(this).hide();
		            }           
			    });
			    
			    $('#loading_counter').text('mySubscribe ' + loading_counter);
			    
			    return false;
			});
		  </script>
		  
        </address>
               
        
      </footer>	
           
	</article></li>  
	

	<li><article class="hentry">
		<div class="entry-content" id="entities">
      		<table>  
      			<tbody id="msgbox">	  

				</tbody>
		    </table>
		</div>		
	</article></li> 
	
	  
  </ol> 
 
</section>

{% endautoescape %} {% endblock %}